<a href="https://colab.research.google.com/github/RiteshopShrivastava/Exercise/blob/main/Anova_%26_Chi_square.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Anova

In [ ]:
# Load libraries
import pandas as pd
from sklearn import datasets
# Load digits dataset
iris = datasets.load_iris()
df = pd.DataFrame(iris.data)
df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [ ]:
import scipy.stats as stats
stats.f_oneway(df.iloc[:,0], df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

F_onewayResult(statistic=482.91531656927964, pvalue=4.660592480454751e-159)

Inference : pvalue is almost 0, so reject null hypothesis

# Chi Square

In [1]:
import pandas as pd # smoking - profession example
import numpy as np
from scipy.stats import chi2_contingency
data = np.array([[14, 4], [0,10]])
chi2_contingency(data)

(12.600000000000001, 0.0003857467556820071, 1, array([[9., 9.],
        [5., 5.]]))

P value is 0.0003857467556820071, which is less than Alpha (0.05),  hence reject null hypothesis.

# Inference : smoking is having impact on profession