<a href="https://colab.research.google.com/github/RiteshopShrivastava/Python/blob/main/EDA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Label Encoder

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
data =pd.read_csv("iris_ED2",index_col=0)

In [3]:
data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [4]:
#Changes does not effect the "data" dataframe
data1=data.copy()

In [5]:
labelencoder = LabelEncoder()
data1.iloc[:, -1] = labelencoder.fit_transform(data1.iloc[:,-1])

In [6]:
data1

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
1             5.1          3.5           1.4          0.2        0
2             4.9          3.0           1.4          0.2        0
3             4.7          3.2           1.3          0.2        0
4             4.6          3.1           1.5          0.2        0
5             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
146           6.7          3.0           5.2          2.3        2
147           6.3          2.5           5.0          1.9        2
148           6.5          3.0           5.2          2.0        2
149           6.2          3.4           5.4          2.3        2
150           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

### One Hot Encoder

#### Using sklearn

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
data2=pd.read_csv("iris_ED2",index_col=0)

In [12]:
data2

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [13]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [14]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data2[['Species']]).toarray())

In [15]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [16]:
# merge with main df 
data_final = data2.iloc[:,0:4].join(enc_df)
data_final

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    0    1    2
1             5.1          3.5           1.4          0.2  1.0  0.0  0.0
2             4.9          3.0           1.4          0.2  1.0  0.0  0.0
3             4.7          3.2           1.3          0.2  1.0  0.0  0.0
4             4.6          3.1           1.5          0.2  1.0  0.0  0.0
5             5.0          3.6           1.4          0.2  1.0  0.0  0.0
..            ...          ...           ...          ...  ...  ...  ...
146           6.7          3.0           5.2          2.3  0.0  0.0  1.0
147           6.3          2.5           5.0          1.9  0.0  0.0  1.0
148           6.5          3.0           5.2          2.0  0.0  0.0  1.0
149           6.2          3.4           5.4          2.3  0.0  0.0  1.0
150           5.9          3.0           5.1          1.8  NaN  NaN  NaN

[150 rows x 7 columns]

#### Using Pandas

In [17]:
import pandas as pd

In [20]:
data3 =pd.read_csv("iris_ED2",index_col=0)

In [21]:
data_encoded=pd.get_dummies(data3)

In [22]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.7          3.0  ...                   0                  1
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150           5.9          3.0  ...                   0                  1

[150 rows x 7 columns]

#### IsolationForest

In [23]:
from sklearn.ensemble import IsolationForest

In [32]:
data =pd.read_csv("iris_ED2",index_col=0)
data_encoded=pd.get_dummies(data)

In [33]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.01,
                max_features=1.0, max_samples='auto', n_estimators=100,
                n_jobs=None, random_state=10, verbose=0, warm_start=False)

In [34]:
# predictions
y_pred_outliers = clf.predict(data_encoded)

In [35]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [36]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.7          3.0  ...                   0                  1
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150           5.9          3.0  ...                   0                  1

[150 rows x 7 columns]

In [37]:
## Let us add a new data point which is outlier
data_encoded.loc[151]=[20,40,30,50,1,0,0]

In [38]:
data_encoded

     Sepal.Length  Sepal.Width  ...  Species_versicolor  Species_virginica
1             5.1          3.5  ...                   0                  0
2             4.9          3.0  ...                   0                  0
3             4.7          3.2  ...                   0                  0
4             4.6          3.1  ...                   0                  0
5             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
147           6.3          2.5  ...                   0                  1
148           6.5          3.0  ...                   0                  1
149           6.2          3.4  ...                   0                  1
150           5.9          3.0  ...                   0                  1
151          20.0         40.0  ...                   0                  0

[151 rows x 7 columns]

In [39]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)
# predictions
y_pred_outliers = clf.predict(data_encoded)
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [40]:
data_encoded['scores']=clf.decision_function(data_encoded)

In [41]:
data_encoded['anomaly']=clf.predict(data_encoded.iloc[:,0:7])

In [42]:
data_encoded

     Sepal.Length  Sepal.Width  ...    scores  anomaly
1             5.1          3.5  ...  0.201438        1
2             4.9          3.0  ...  0.183516        1
3             4.7          3.2  ...  0.173272        1
4             4.6          3.1  ...  0.181867        1
5             5.0          3.6  ...  0.198218        1
..            ...          ...  ...       ...      ...
147           6.3          2.5  ...  0.134374        1
148           6.5          3.0  ...  0.178850        1
149           6.2          3.4  ...  0.122817        1
150           5.9          3.0  ...  0.156061        1
151          20.0         40.0  ... -0.287729       -1

[151 rows x 9 columns]

In [44]:
#Print the outlier data points
data_encoded[data_encoded['anomaly']==-1]

     Sepal.Length  Sepal.Width  ...    scores  anomaly
107           4.9          2.5  ... -0.008763       -1
151          20.0         40.0  ... -0.287729       -1

[2 rows x 9 columns]

### PPS score

In [45]:
#install the package
!pip install ppscore

Collecting ppscore
  Downloading ppscore-1.2.0.tar.gz (47 kB)
     |████████████████████████████████| 47 kB 2.0 MB/s
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ppscore) (1.1.5)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in /usr/local/lib/python3.7/dist-packages (from ppscore) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.4.1)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py) ... done
  Created wheel for ppscore: filename=ppscore-1.2.0-py2.py3-none-any.whl size=13068 sha256=3da41316f0435c150bfa1a8324b923b3b99b5b49aa238dbe0753511eac106d61
  Stored in directory: /root/.cache/pip/wheels/d2/3c/58/2ff786414b21713edc6f4fdb54fdee89ac37bca5edd1f60634
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.2.0

In [46]:
import ppscore as pps

In [47]:
#pps.score(df, "feature_column", "target_column")  syntax
pps.score(data, "Sepal.Length", "Petal.Length")

{'baseline_score': 1.4886666666666668,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'model': DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best'),
 'model_score': 0.6692708968366863,
 'ppscore': 0.550422595049248,
 'x': 'Sepal.Length',
 'y': 'Petal.Length'}

In [48]:
#calculate the whole PPS matrix
pps.matrix(data)

               x  ...                                              model
0   Sepal.Length  ...                                               None
1   Sepal.Length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
2   Sepal.Length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
3   Sepal.Length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
4   Sepal.Length  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
5    Sepal.Width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
6    Sepal.Width  ...                                               None
7    Sepal.Width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
8    Sepal.Width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
9    Sepal.Width  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
10  Petal.Length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
11  Petal.Length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
12  Petal.Length  ...                                               None
13  Petal.Length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
14  Petal.Length  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
15   Petal.Width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
16   Petal.Width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
17   Petal.Width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
18   Petal.Width  ...                                               None
19   Petal.Width  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
20       Species  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
21       Species  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
22       Species  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
23       Species  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
24       Species  ...                                               None

[25 rows x 9 columns]