<a href="https://colab.research.google.com/github/RiteshopShrivastava/Python/blob/main/Python_Tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Baiscs**

In [ ]:
dir(__builtins__)

In [ ]:
help(zip)

In [ ]:
import math
help(math)

In [ ]:
x =  int(input('Please enter 1st number'))
y =  int(input('Please enter 2nd number'))
z =  int(input('Please enter 3rd number'))

Please enter 1st number10
Please enter 2nd number20
Please enter 3rd number30

In [ ]:
print('Maximum number is')
print(max(x,y,z))

Maximum number is
30

In [ ]:
b=5

In [ ]:
b +=5

In [ ]:
b

10

In [ ]:
b ^=5

In [ ]:
b

15

In [ ]:
b ^=5

In [ ]:
b

10

In [ ]:
alpha =5 #int (input('alpha ='))
beta = 10 #int(input('beta ='))
gamma = 15 #int(input('gamma='))

sum = alpha+beta+gamma
print(sum)
difference = sum - 5
print(difference)

30
25

In [ ]:
difference += 5
difference

35

30

In [ ]:
difference &=5
difference

1

In [ ]:
x = 13
y= x | 25
y

29

In [ ]:
type(x)

int

# **Python Variables**

**Python Variables - Assign Multiple Values**

In [ ]:
#Many Values to Multiple Variables

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# One Value to Multiple Variables

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
# Unpack a Collection 
'''If you have a collection of values in a list, tuple etc.
Python allows you extract the values into variables. This is called unpacking.'''

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Output Variables**

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [ ]:
x = "awesome"
print("Python is " +x)

Python is awesome

In [ ]:
# You can also use the + character to add a variable to another variable:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [ ]:
# For numbers, the + character works as a mathematical operator:

x = 5
y = 10
print(x + y)

15

In [ ]:
#If you try to combine a string and a number, Python will give you an error:

'''x = 5
y = "John"
print(x + y)'''

# **Global Variables**

In [ ]:
#Create a variable outside of a function, and use it inside the function
x = "awesome"

def myfunc():
  print("Python is " + x)
myfunc()

Python is awesome

In [ ]:
#Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
#If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [ ]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

# **Data Type**

In [ ]:
# You can get the data type of any object by using the type() function:
x = 5
#print(type(x))
type(x)

int

**Setting the Data Type**

In Python, the data type is set when you assign a value to a variable:

In [ ]:
x = "Hello World"
type(x)

str

In [ ]:
x= 20
type(x)

int

In [ ]:
x= 20.5
type(x)

float

In [ ]:
x = 1j
type(x)

complex

In [ ]:
x = ['apple','banana','orange']
type(x)

list

In [ ]:
x = ("apple", "banana", "cherry")
type(x)

tuple

tuple

In [ ]:
x = range (6)
print(x)
type(x)

range(0, 6)

range

In [ ]:
x = {'Name' :"John", "Age" : 30}
print(x)
type(x)

{'Name': 'John', 'Age': 30}

dict

In [ ]:
x = { "Apple", "Banana", "Orange"}
type(x)

set

In [ ]:
x = frozenset({ "Apple", "Banana", "Orange"})
type(x)

frozenset

In [ ]:
x= True
type(x)

bool

In [ ]:
x = b"Hello"
type(x)

bytes

**Setting the Specific Data Type**

If you want to specify the data type, you can use the following constructor functions:

In [ ]:
x=list(("apple", "banana", "cherry"))
type(x)

list

In [ ]:
x = tuple(("apple", "banana", "cherry"))
type(x)

tuple

In [ ]:
x = (("apple", "banana", "cherry"))
type(x)

tuple

In [ ]:
x = bool()
type(x)

bool

# **Python Numbers**

There are three numeric types in Python:

**int, float, complex**

Variables of numeric types are created when you assign a value to them:

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# **Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

**Note: You cannot convert complex numbers into another number type.**

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random
random.randrange(1,10)

7

# **Python Casting**

**Specify a Variable Type**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

**int()** - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

**float()** - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

**str()** - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)
y = int(2.8)
z = int("4")
print(x) 
print(y)
print(z)

1
2
4

In [ ]:
x = float(1)
y = float(2.8)
z = float("4")
print(x) 
print(y)
print(z)

1.0
2.8
4.0

In [ ]:
x = str("s1")
y = str(2.8)
z = str("4")
print(x) 
print(y)
print(z)

s1
2.8
4

# **Python Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
# Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

a = 'Hello'
print(a)

Hello

**Multiline Strings**

You can assign a multiline string to a variable by using three single or double quotes:

In [ ]:
#You can assign a multiline string to a variable by using three quotes:
a = ''' My name is Ritesh
 i leaves in Bhopal,
 Madhya Pradesh '''
print(a) 

# Note: in the result, the line breaks are inserted at the same position as in the code.

 My name is Ritesh
 i leaves in Bhopal,
 Madhya Pradesh

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
a = "Hello world"
print(a[0])

H

**Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#To get the length of a string, use the len() function.
x = "hello world"
print(len(x))

11

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
x = "Hi this is my laptop"
print("this" in x)

True

**Check string with if statement:**

In [ ]:
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, free is present")

Yes, free is present

 **Check if NOT**

In [20]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
"expensive" not in txt

True

In [ ]:
#Check 'not' with if statement:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, expensive is not present")

No, expensive is not present

# **Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
a = "hello World"
print(a[2:7])

llo W

In [ ]:
#Slice From the Start
a = "hello World"
print(a[:5])

hello

In [ ]:
#Slice To the End
a = "hello World"
print(a[2:])

llo World

# **Negative Indexing**

Use negative indexes to start the slice from the end of the string:

In [ ]:
'''Get the characters:
From: "o" in "World!" (position -5)
To, but not included: "d" in "World!" (position -2):'''


a = "World!"
print(a[-5:-2])

orl

In [ ]:
#Upper case

a = "Hello world"
print(a.upper())

HELLO WORLD

In [ ]:
#lower
a = "HELLO WORLD"
print(a.lower())

hello world

# **Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [ ]:
# The strip() method removes any whitespace from the beginning or the end:
a = " HELLO WORLD "
print(a.strip())

HELLO WORLD

# **Replace String**

The replace() method replaces a string with another string:

In [ ]:
a = " HELLO WORLD "
print(a.replace('H', 'J'))

 JELLO WORLD

# **Split String**

The split() method returns a list where the text between the specified separator becomes the list items.

The split() method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# **String Concatenation**

To concatenate, or combine, two strings you can use the + operator

In [ ]:
a = "Hello"
b= "World"
c = a+b
print(c)

HelloWorld

In [ ]:
#To add a space between them, add a " ":
a = "Hello"
b= "World"
c = a+" "+b
print(c)

Hello World

# **String Format**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this

age = 36

txt = "My name is John, I am " + age

print(txt)


**But we can combine strings and numbers by using the format() method**!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
age = 36
txt = "My name is John, and i am {}"
print(txt.format(age))

My name is John, and i am 36

In [ ]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

quantity = 3
price = 100
itemno =1001

txt = "I want {} piece of item {} for {} Rupees"
print(txt.format(quantity, itemno,price))

I want 3 piece of item 1001 for 100 Rupees

In [ ]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

quantity = 3
price = 100
itemno =1001

txt = "I want {1} piece of item {2} for {0} Rupees"
print(txt.format(price, quantity,itemno))

I want 3 piece of item 1001 for 100 Rupees

# **Python - Escape Characters**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

**Example**

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

**txt = "We are the so-called "Vikings" from the north."**

To fix this problem, use the escape character \":

In [ ]:
txt = "We are the so-called \"Vikings\" from the north"
print(txt)

We are the so-called "Vikings" from the north

**Other escape characters used in Python:**

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [ ]:
txt = "We are the so-called \n Vikings from the north"
print(txt)

We are the so-called
 Vikings from the north

# **String Methods**

Python has a set of built-in methods that you can use on strings.

**Note: All string methods returns new values. They do not change the original string.**

In [ ]:
#Method	Description
'''capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning'''

# **Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

**When you run a condition in an if statement, Python returns True or False:**

In [ ]:
#Print a message based on whether the condition is True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

**Evaluate Values and Variables**

The bool() function allows you to evaluate any value, and give you True or False in return,

In [ ]:
#Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
#Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

**Most Values are True**

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
#The following will return True:

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

**Some Values are False**

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
#The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

**Functions can Return a Boolean**

You can create functions that returns a Boolean Value:

In [ ]:
def myfun():
  return True
print(myfun())

True

In [ ]:
def myfun():
  return False
print(myfun())

False

**You can execute code based on the Boolean answer of a function:**

Example

Print "YES!" if the function returns True, otherwise print "NO!":

In [ ]:
def Myfunction():
  return True
if Myfunction():
  print("Yes")
else:
  print("No")

Yes

# **Python Operators**
Operators are used to perform operations on variables and values.

**Python divides the operators in the following groups:**

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

**Arithmetic operators are used with numeric values to perform common mathematical operations::**

In [ ]:
'''Operator	Name	            Example
+     	Addition	          x + y	
-	      Subtraction	        x - y	
*     	Multiplication	    x * y	
/	      Division	          x / y	
%	      Modulus	            x % y	
**	    Exponentiation	    x ** y	
//	    Floor division	    x // y '''

**Assignment Operators**

**Assignment operators are used to assign values to variables:**

![image.png]()

**Comparison Operators**

**Comparison operators are used to compare two values:**

![image.png]()

**Logical Operators**

![image.png]()

**Identity Operators**

![image.png]()

**Membership Operators**

![image.png]()

**Bitwise Operators**

![image.png]()

# **Python Lists**

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

**Lists are created using square brackets:**

In [ ]:
thisislist = ["apple", "banana", "orange"]
print(thisislist)

['apple', 'banana', 'orange']

**List Items**

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**-
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

***Note: There are some list methods that will change the order, but in general: the order of the items will not change.***

**Changeable**-
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

**Allow Duplicates**-
Since lists are indexed, lists can have items with the same value:

**List Length**

To determine how many items a list has, use the len() function:

In [ ]:
thisislist = ['apple', 'banana', 'orange']
print(len(thisislist))

3

**List Items - Data Types**

List items can be of any data type:

In [ ]:
# String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
#A list with strings, integers and boolean values:
list1 = [34, 'apple', True, 54,'fruits']

In [ ]:
#What is the data type of a list?
list1 = [34, 'apple', True, 54,'fruits']
type(list1)

list

**The list() Constructor**

It is also possible to use the list() constructor when creating a new list.

In [ ]:
# Using the list() constructor to make a List:
thisislist = list(('apple', 'banana','orange')) # note the double round-brackets
print(thisislist)

['apple', 'banana', 'orange']

# **Python Collections (Arrays)**
**There are four collection data types in the Python programming language:**

**Lis**t is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

**Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

**Dictionary** is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

**When choosing a collection type, it is useful to understand the properties of that type.Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.**

# **Python - Access List Items**
**Access Items**

List items are indexed and you can access them by referring to the index number:



Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

Example
Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
Note: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

Example
This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])
By leaving out the end value, the range will go on to the end of the list:

Example
This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])
Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

Example
This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

In [ ]:
#Example
#Print the second item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[1])
#Note: The first item has index 0.

banana

**Negative Indexing**

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
#Example
#Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

**Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
#Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:

In [ ]:
#This example returns the items from the beginning to, but NOT including, "kiwi"

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
#This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

**Range of Negative Indexes** -
Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

**Check if Item Exists**-
To determine if a specified item is present in a list use the 'in' keyword:

In [ ]:
thisislist= ['apple','banana','orange']
if 'apple' in thisislist:
  print("yes, apple is present in the list")

yes, apple is present in the list

# **Change List Items**
**Change Item Value**-
To change the value of a specific item, refer to the index number:

In [ ]:
#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**Change a Range of Item Values**-
To change the value of items within a specific range,

define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
#Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

**Note: The length of the list will change when the number of items inserted does not match the number of items replaced.**

In [ ]:
'''If you insert less items than you replace,the new items will be 
inserted where you specified, and the remaining items will move accordingly:'''

#Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

**Insert Items**

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
#Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

#**Add List Items**

**Append Items**

To add an item to the end of the list, use the append() method:

In [ ]:
#Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

**Insert Items**

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
#Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Extend List**

To append elements from another list to the current list, use the extend() method.

In [ ]:
#Add the elements of 'tropical' to 'thislist':

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)            #The elements will be added to the end of the list.
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

**Add Any Iterable**

The extend() method does not have to append ***lists***, you can add any iterable object **(tuples, sets, dictionaries etc.)**.

In [ ]:
#Add elements of a tuple to a list:

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# **Remove List Items**
**Remove Specified Item**-
The remove() method removes the specified item.

In [ ]:
#Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

**Remove Specified Index**-
The pop() method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
#If you do not specify the index, the pop() method removes the last item.
#Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

**The *'del'* keyword also removes the specified index:**

In [ ]:
#Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[1]
print(thislist)

['apple', 'cherry']

In [ ]:
#Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

**Clear the List**

The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
#Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# **Loop Lists**
**Loop Through a List** -
You can loop through the list items by using a ***for*** loop:

In [ ]:
#Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

**Loop Through the Index Numbers**

You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [ ]:
#Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

**Loop through a While Loop**

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
#Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

**Looping Using List Comprehension**

List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
#A short hand for loop that will print all items in a list:

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

# **Python - List Comprehension**

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

**Example:**

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
for x in fruits:
  if 'a' in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

**With list comprehension you can do all that with only one line of code:**

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if 'a'in x]
print(newlist)

['apple', 'banana', 'mango']

**The Syntax**

newlist = [***expression*** for **item** in **iterable** if **condition == True**]

The return value is a new list, leaving the old list unchanged.

**Condition**-
The condition is like a filter that only accepts the items that valuate to True.

In [ ]:
#Only accept items that are not "apple":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x!='apple']

#The condition if x != "apple"  will return True for all elements other than "apple",
# making the new list contain all fruits except "apple".

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#The condition is optional and can be omitted:

#With no 'if' statement:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

**Iterable** -
The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
#You can use the range() function to create an iterable:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Same example, but with a condition:

#Accept only numbers lower than 5:

newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

**Expression**- 
The expression is the current item in the iteration, but it is also the outcome,

which you can manipulate before it ends up like a list item in the new list:

In [ ]:
#Set the values in the new list to upper case:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
# You can set the outcome to whatever you like:
#Set all values in the new list to 'hello':
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
#The expression can also contain conditions,not like a filter,but as a way to manipulate the outcome:
#Return "orange" instead of "banana":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]  

'''The above expression says:

"Return the item if it is not banana, if it is banana return orange"'''

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

# **Python - Sort Lists**

**Sort List Alphanumerically** -
List objects have a sort() method that will sort the list alphanumerically, ascending, by default

In [1]:
#Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [2]:
#Sort the list numerically:

thislist = [100,59,25,50,10]
thislist.sort()
print(thislist)

[10, 25, 50, 59, 100]

**Sort Descending**- 
To sort descending, use the keyword argument **reverse = True**:

In [3]:
thislist = [100,59,25,50,10]
thislist.sort(reverse=True)
print(thislist)

[100, 59, 50, 25, 10]

**Customize Sort Function** -
You can also customize your own function by using the keyword argument **key = function.**

The function will return a number that will be used to sort the list (the lowest number first):

In [9]:
#Sort the list based on how close the number is to 50:

def myfun(n):
  return (n - 50)
thislist= [100, 50, 65, 82, 23]
thislist.sort(key = myfun)
print(thislist)

[23, 50, 65, 82, 100]

In [8]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

**Case Insensitive Sort** -
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [10]:
#Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

**Luckily we can use built-in functions as key functions when sorting a list.**

**So if you want a case-insensitive sort function, use str.lower as a key function:**

In [12]:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

**Reverse Order** -
What if you want to reverse the order of a list, regardless of the alphabet?

The **reverse()** method reverses the current sorting order of the elements.

In [15]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [16]:
thislist = [100, 50, 65, 82, 23]
thislist.reverse()
print(thislist)

[23, 82, 65, 50, 100]

# **Python - Copy Lists**
You cannot copy a list simply by typing **list2 = list1**, because: **list2** will only be a reference to **list1**, and changes made in **list1** will automatically also be made in **list2**.

There are ways to make a copy, one way is to use the built-in List method **copy()**.

In [21]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
mylist.reverse()
print(mylist)
print(thislist)

['apple', 'banana', 'cherry']
['cherry', 'banana', 'apple']
['apple', 'banana', 'cherry']

**Another way to make a copy is to use the built-in method list().**

In [19]:
# Make a copy using the built-in method list().

thislist= ["banana", "Orange", "Kiwi", "cherry"]
mylist = list(thislist)
print(mylist)
mylist.reverse()
print(mylist)
print(thislist)

['banana', 'Orange', 'Kiwi', 'cherry']
['cherry', 'Kiwi', 'Orange', 'banana']
['banana', 'Orange', 'Kiwi', 'cherry']

# **Python - Join Lists**
**Join Two Lists** -
There are several ways to join, or concatenate, two or more lists in Python.

**One of the easiest ways are by using the + operator.**

In [22]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**Another way to join two lists is by appending all the items from list2 into list1, one by one:**

In [23]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**you can also use the extend() method, whose purpose is to add elements from one list to another list:**

In [24]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# **List Methods**
**Python has a set of built-in methods that you can use on lists.**

**Method	Description**

append()- Adds an element at the end of the list

clear()-	Removes all the elements from the list

copy()- Returns a copy of the list

count()-	Returns the number of elements with the specified value

extend()-	Add the elements of a list (or any iterable), to the end of the current list

index()-	Returns the index of the first element with the specified value

insert()-	Adds an element at the specified position

pop()-	Removes the element at the specified position

remove()-	Removes the item with the specified value

reverse()-	Reverses the order of the list

sort()-	Sorts the list