<a href="https://colab.research.google.com/github/RiteshopShrivastava/Python/blob/main/Recommendation_Engine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_df = pd.read_csv('Movie.csv')

In [5]:
movies_df.head(10)

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5
5      12  Toy Story (1995)     4.0
6      13  Toy Story (1995)     4.0
7      14  Toy Story (1995)     4.5
8      16  Toy Story (1995)     3.0
9      19  Toy Story (1995)     5.0

In [6]:
#number of unique users in the dataset
len(movies_df.userId.unique())

4081

In [7]:
len(movies_df.movie.unique())

10

In [9]:
user_movies_df = movies_df.pivot(index='userId',
                                 columns='movie',
                                 values='rating').reset_index(drop=True)

In [10]:
user_movies_df

movie  Father of the Bride Part II (1995)  ...  Waiting to Exhale (1995)
0                                     NaN  ...                       NaN
1                                     NaN  ...                       NaN
2                                     NaN  ...                       NaN
3                                     NaN  ...                       NaN
4                                     NaN  ...                       NaN
...                                   ...  ...                       ...
4076                                  4.0  ...                       NaN
4077                                  3.5  ...                       NaN
4078                                  NaN  ...                       NaN
4079                                  NaN  ...                       NaN
4080                                  NaN  ...                       NaN

[4081 rows x 10 columns]

In [11]:
user_movies_df.index = movies_df.userId.unique()

In [12]:
user_movies_df

movie  Father of the Bride Part II (1995)  ...  Waiting to Exhale (1995)
3                                     NaN  ...                       NaN
6                                     NaN  ...                       NaN
8                                     NaN  ...                       NaN
10                                    NaN  ...                       NaN
11                                    NaN  ...                       NaN
...                                   ...  ...                       ...
7044                                  4.0  ...                       NaN
7070                                  3.5  ...                       NaN
7080                                  NaN  ...                       NaN
7087                                  NaN  ...                       NaN
7105                                  NaN  ...                       NaN

[4081 rows x 10 columns]

In [13]:
#Impute those NaNs with 0 values
user_movies_df.fillna(0, inplace=True)

In [14]:
user_movies_df

movie  Father of the Bride Part II (1995)  ...  Waiting to Exhale (1995)
3                                     0.0  ...                       0.0
6                                     0.0  ...                       0.0
8                                     0.0  ...                       0.0
10                                    0.0  ...                       0.0
11                                    0.0  ...                       0.0
...                                   ...  ...                       ...
7044                                  4.0  ...                       0.0
7070                                  3.5  ...                       0.0
7080                                  0.0  ...                       0.0
7087                                  0.0  ...                       0.0
7105                                  0.0  ...                       0.0

[4081 rows x 10 columns]

In [15]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [16]:
user_sim = 1 - pairwise_distances( user_movies_df.values,metric='cosine')

In [17]:
user_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.55337157],
       [0.        , 1.        , 0.        , ..., 0.45883147, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       ...,
       [0.        , 0.45883147, 0.45883147, ..., 1.        , 0.45883147,
        0.47607054],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       [0.55337157, 0.        , 0.62254302, ..., 0.47607054, 0.62254302,
        1.        ]])

In [18]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [19]:
#Set the index and column names to user ids 
user_sim_df.index = movies_df.userId.unique()
user_sim_df.columns = movies_df.userId.unique()

In [20]:
user_sim_df.iloc[0:5, 0:5]

     3    6    8    10   11
3   1.0  0.0  0.0  0.0  1.0
6   0.0  1.0  0.0  0.0  0.0
8   0.0  0.0  1.0  0.0  0.0
10  0.0  0.0  0.0  1.0  0.0
11  1.0  0.0  0.0  0.0  1.0

In [21]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

     3    6    8    10   11
3   0.0  0.0  0.0  0.0  1.0
6   0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0
11  1.0  0.0  0.0  0.0  0.0

In [22]:
#Most Similar Users
user_sim_df.idxmax(axis=1)

3         11
6        168
8         16
10      4047
11         3
        ...
7044      80
7070    1808
7080     708
7087       8
7105    4110
Length: 4081, dtype: int64

In [ ]:
#Most Similar Users
user_sim_df.idxmax(axis=1)[0:5]

3       11
6      168
8       16
10    4047
11       3
dtype: int64

In [23]:
movies_df[(movies_df['userId']==6) | (movies_df['userId']==168)]

      userId                    movie  rating
1          6         Toy Story (1995)     5.0
60       168         Toy Story (1995)     4.5
3725       6  Grumpier Old Men (1995)     3.0
6464       6           Sabrina (1995)     5.0

In [24]:
user_1=movies_df[movies_df['userId']==6]

In [29]:
user_2=movies_df[movies_df['userId']==168]

In [30]:
user_2.movie

60    Toy Story (1995)
Name: movie, dtype: object

In [31]:
user_1.movie

1              Toy Story (1995)
3725    Grumpier Old Men (1995)
6464             Sabrina (1995)
Name: movie, dtype: object

In [32]:
pd.merge(user_1,user_2,on='movie',how='outer')

   userId_x                    movie  rating_x  userId_y  rating_y
0         6         Toy Story (1995)       5.0     168.0       4.5
1         6  Grumpier Old Men (1995)       3.0       NaN       NaN
2         6           Sabrina (1995)       5.0       NaN       NaN